*{
	scroll-behavior: smooth;
}
nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
ul li a {
	color: white;
	text-decoration: none;
}

main {
	background-image: url("./assets/background.svg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.social {
	font-size: 24pt;
	transition: ease-in-out 0.5s;
	overflow: hidden;
}
.social:hover {
	color: #de302f;
}
#download-button{
	transition: ease-in-out 0.3s;
}
#download-button:hover{
	background-color: #27302f;
}
.nav-li {
	border: none;
	background: none;
}

.hover-underline-animation {
	position: relative;
	padding-bottom: 5px;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.nav-li:hover .hover-underline-animation:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.toggle{
	display: none;
	cursor: pointer;
}
.drawer-menu-list{
	text-align: center;
}
.drawer-menu-list li{
	margin: 20px 0;
}
.drawer-menu-list li a{
	color: #27302f;
}
.skills{
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
}
.skill-item{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	gap: 20px;
}
.skill-item li{
	font-size: 24pt;
	display: inline-block;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}
.skill-item li:hover{
	opacity: .5;
}
#projects{
	position: absolute;
	width: 100%;
	top: 200px;
	height: fit-content;
	padding-top: 180px;
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden	;
}
.project-image{
	width: 250px;
	height: 150px;
	overflow: hidden;

}
.project-image img{
	transition: ease-in-out 0.5s;
	width: 100%;
}
.project-image img:hover{
	transform: scale(1.1);
}


@media screen and (max-width: 767px) {
	.skills{
		display: grid;
		grid-template-columns: 1fr;
	}
	p{
		font-size: 14pt;
	}
	main{
		flex-direction: column;
		gap: 40px;
		height: fit-content;
		padding: 100px 0 40px;
	}
	main>div{
		width: 100%;
		text-align: center;
	}
	main div h1 {
		height: 130px;

	}
	main div ul {
		display: flex;
		justify-content: space-around;
	}
	#about{
		max-height: 350px;
		overflow-y: auto;
	}
	.toggle {
		display: block;
	}
	nav>ul>*:not(:last-child) {
		display: none;
	}
}